<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>

      <a href="/users/signup">Sign Up</a>
      <a href="/users/login">LogIn</a>
       <a href="/rooms/all-rooms">See all Rooms</a>
       <a href="/rooms/create-room">Create a Room</a>
       <a href="/users/logout">Logout</a>
    </nav>
    
    {{{body}}}
  </body>
</html>
